* {
    margin: 0;
    padding: 0;
}

body {
   
    font-family: 'Kanit';
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    padding-bottom: 20px;
}


/* NAVBAR */
.logo {
    height: 100px;
    padding-top: 10px;
    width: auto;
    margin-right: auto;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    /* padding: 5px 2%; */
    text-transform: uppercase;
    color: #efc57c;
    padding: 30px 50px;
    transition: 0.6s;
    z-index: 100;
}

header.sticky {
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.589);   
}

nav {
    margin-top: 45px;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 23px;
}

header input {
    font-family: inherit;
    color:#84babc;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px#84babc solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 20px;
    margin-right: 80px;
    margin-bottom: 8px;
    padding-right: -10px;
    background: none;
}

nav ul li a {
    position: relative;
    display: inline-block;
    color: #523746;
    overflow: hidden;
    background: linear-gradient(to right, #84babc, #84babc 50%, #e7e7e7 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease;
    /* text-decoration: none; // text decorations are clipped in WebKit browsers */
    text-decoration: none;
}

nav ul li a:hover {
    background-position: 0 100%;
}


/*SEARCH*/
.search-container {
    margin-top: 47px;
}

.search-container input {
    transition: ease 0.5s;
}

.list-autocomp {
    overflow-y:scroll;
    height: 200px;
    /* position: fixed;
    left: 81vw;
    top: 100px; */
    z-index: 100;
    /* background-color: white; */
    /* border-radius: 30px; */
    color: white;
    cursor: pointer;
}

.list-element {
    transition: ease 0.5s;
    display: flex;
    background-color: rgba(35, 35, 35, 0.7);
    border-bottom: rgba(255, 255, 255, 0.74) 1px solid ;
    margin-left: 20px;
    width: 325px;
    padding: 20px 0px;
    padding-left: 5px;
}

.list-element:hover {
    background-color: rgba(87, 87, 87, 0.7);
}

.list-element img {
    height: 50px;
    width: auto;
}

.div-of-span {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.biggest-searching {
    transition: ease 0.5s;
    margin-top: -10px;
    padding: 10px 40px;
}


/*PARALLAX*/
video.bg-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.regular {
    position: relative;
    /* background-color: rgb(241, 241, 241); */
    text-align: center;
    padding-top: 10vh;
    /* width: 100vw;
    height: 100vh; */
    z-index: 2;
}

#subtitle-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(224, 224, 224);
    font-size: 50px;
    z-index: 1;
}

/*INDEX PAGE*/
.explication-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explication-content img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.explication-element {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.explication-element-text {
    margin-left: -40px;
    z-index: 10;
    margin-right: -40px;
    width: 300px;
    height: 85%;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    color: rgb(241, 241, 241);
    padding: 10px;
    font-weight: normal;
}

.explication-element-text h1 {
    font-size: 30px;
    text-align: left;
}

.explication-element-text a {
    text-decoration: none;
    color: #84babc;
}

.rectangle {
    background-color: rgb(241, 241, 241);
    height: 10px;
    width: 100px;
    margin: 20px 0px;
}




/*FOOTER*/
footer {
    height: 200px;
    background-color:rgb(43, 43, 43);
    color: #878787;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h1 {
    font-size: 22px;
    margin-bottom: -10px;
    font-weight: normal;
}

footer h2 {
    font-size: 18px;
    font-weight: normal;
}

footer img {
    width: 22px;
    height: 22px;
    margin-left: 10px;
}

footer a {
    text-decoration: none;
    text-decoration: underline;
    color: #878787;
    
}

.line-footer {
    height: 60px;
    width: 3px;
    background-color: #878787;
    margin-left: 10px;
}

.link-footer {
    font-weight: normal;
    display: flex;
    justify-content: stretch;

}

.link-footer a {
    margin-left: 5px;
}

