* {
    margin: 0;
    padding: 0;
}

body {
   
    font-family: 'Kanit';
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
}


/* NAVBAR */



.logo {
    height: 100px;
    padding-top: 10px;
    width: auto;
    margin-right: auto;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    /* padding: 5px 2%; */
    text-transform: uppercase;
    color: #efc57c;
    padding: 30px 50px;
    transition: 0.6s;
    z-index: 100;
}

header.sticky {
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.589);   
}

nav {
    margin-top: 45px;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 23px;
}

header input {
    font-family: inherit;
    color:#84babc;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px#84babc solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 20px;
    margin-right: 80px;
    margin-bottom: 8px;
    padding-right: -10px;
    background: none;
}

nav ul li a {
    position: relative;
    display: inline-block;
    color: #523746;
    overflow: hidden;
    background: linear-gradient(to right, #84babc, #84babc 50%, #e7e7e7 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease;
    /* text-decoration: none; // text decorations are clipped in WebKit browsers */
    text-decoration: none;
}

nav ul li a:hover {
    background-position: 0 100%;
}


/*SEARCH*/
.search-container {
    margin-top: 47px;
}

.search-container input {
    transition: ease 0.5s;
}

.list-autocomp {
    overflow-y:scroll;
    height: 200px;
    /* position: fixed;
    left: 81vw;
    top: 100px; */
    z-index: 100;
    /* background-color: white; */
    /* border-radius: 30px; */
    color: white;
    cursor: pointer;
}

.list-element {
    transition: ease 0.5s;
    display: flex;
    background-color: rgba(35, 35, 35, 0.7);
    border-bottom: rgba(255, 255, 255, 0.74) 1px solid ;
    margin-left: 20px;
    width: 325px;
    padding: 20px 0px;
    padding-left: 5px;
}

.list-element:hover {
    background-color: rgba(87, 87, 87, 0.7);
}

.list-element img {
    height: 50px;
    width: auto;
}

.div-of-span {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.biggest-searching {
    transition: ease 0.5s;
    margin-top: -10px;
    padding: 10px 40px;
}


/*PARALLAX*/
video.bg-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.regular {
    position: relative;
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding-top: 10vh;
    /* width: 100vw;
    height: 100vh; */
    z-index: 2;
}

#subtitle-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(224, 224, 224);
    font-size: 50px;
    z-index: 1;
}

/*INDEX PAGE*/

.explication-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explication-content img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.explication-element {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.explication-element-text {
    margin-left: -40px;
    z-index: 10;
    margin-right: -40px;
    width: 300px;
    height: 85%;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    color: rgb(241, 241, 241);
    padding: 10px;
    font-weight: normal;
}

.explication-element-text h1 {
    font-size: 30px;
    text-align: left;
}

.explication-element-text a {
    text-decoration: none;
    color: #84babc;
}

.rectangle {
    background-color: rgb(241, 241, 241);
    height: 10px;
    width: 100px;
    margin: 20px 0px;
}


/*ARTISTS PAGE*/
.artists-el {
    display: grid;
    justify-content: center;
    grid-template-columns: 380px 380px 380px;
    /* grid-template-rows: 200px;  */
    grid-template-rows: repeat(18, 200px);
    column-gap: 50px;
    row-gap: 50px;
    /* font-weight: lighter; */
}

.artist {   
    background-color: #272727;
    box-shadow: 0px 0px 10px rgb(31, 31, 31);
    border-radius: 10px;
    color:rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    justify-content:start;
    padding: 20px;
    align-items: center;

}

.artist-text-el {
    margin-left: 20px;
}

.artists-img {
    width: 120px;
    height: auto;
}
.artist-name {
    font-size: 30px;
    padding: -3px;
}

.key-artist {
    text-transform: uppercase;
    margin-right: 10px;
    color:rgb(109, 109, 109);
}

.btn-showmore {
    transition: ease 0.3s;
    margin-top: 10px;
    border-radius: 25px;
    color: #84babc;
    border: #84babc 2px solid;
    background: none;
    font-family: inherit;
    font-size: 16px;
    padding: 5px 20px;
}

.btn-showmore:hover {
    /* border: rgb(241, 241, 241) 2px solid; */
    border: #84babc 2px solid;
    /* background-color: rgb(241, 241, 241); */
    background-color: #84babc;
    color: rgb(43, 43, 43);
    
}

/*SHOWMORE*/

.bg-showmore {
    transition: ease 0.4s;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);;
    position: absolute;
    top: 0;
    /* display: none; */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.content-showmore {
    /* position: fixed;
    z-index: 110;
    left: 20%;
    top: 20%;
    bottom: 50%;
    right: 50%;
    background: black;
    min-height: 80vh;
    width: 60%; */

    overflow: hidden;
    background: white;
    min-height: 80vh;
    max-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;

    font-size: 24px;
    text-align: center;
    color: white;
}

.global-content {
    background: rgba(0, 0, 0, 0.425);
    border-radius: 2rem;
    width: 15vw;
}

.more-info {
    overflow: hidden;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.more-close::before {
    content: "+";
    font-size: 60px;
    font-family: Arial;
}

.more-close {
    transition: ease 0.4s;

    color: white;
    position: absolute;
    z-index: 100;
    right: 21vw;
    top: 80px;
    text-decoration: none;
    /* top: 0px;
    right: 14px; */
    /* right: 60%; */

    transform: rotate(45deg);
}

.more-close:hover {
    color:#84babc;
    transform: rotate(135deg);
}

.global-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.global-content img {
    /* margin-left: 15px; */
    width: 200px;
    height: auto;
    clip-path: circle(80px at center);
}

.key-span-showmore {
    color:rgb(43, 43, 43);
    text-transform: uppercase;
}

.member-content {
    display: flex;
    flex-wrap:wrap;
}

.member-content span {
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 10px;
    font-weight: normal;
}

.more-info h1 {
    text-transform: uppercase;
    text-align:left;
    margin-left: 20px;
    font-size: 40px;
}


.location-content {
    /* width: 100%;
    padding-right: 20px; */
    overflow-y:auto; 
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
}

.location-dates-content {
    margin: 10px;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    padding: 10px;
}

.location-dates-content span {
    display: flex;
    flex-direction: column;
}

.location-dates-content h2 {
    font-size: 24px;
}

.location-content::-webkit-scrollbar {
    width: 20px;
}

.location-content::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: linear-gradient(to top, #84babc, #508385) ;
}

.location-content::-webkit-scrollbar-track {
    border: rgb(43, 43, 43) 2px solid;
    border-radius: 30px;
}

