{{ define "footer" }}
    <footer>
        <div>
            <h1>Project by Get-Them-All</h1>
            <h2>In collaboration with Ynov</h2>
        </div>
        <div class="line-footer"></div>
        <div>
            <div class="link-footer">
                <img src="../../static/img/git-groupie-tracker.png">
                <a href="https://git.ytrack.learn.ynov.com/MLEGER/groupie-tracker" target="_blank">Gitea</a>
            </div>
            <div class="link-footer">
                <img src="../../static/img/ynov-y-groupie-tracker.png">
                <a href="https://www.ynov-nantes.com/" target="_blank">Ynov Nantes</a>
            </div>
        </div>
    </footer>
{{ end }}