{{ define "navbar" }}
<header>
    <img src="/static/img/logo_v1_colorv2.png" class="logo">
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/artists">Information</a></li>
            <li><a href="/locations">Localisation</a></li>
            <!-- <li><a href="#">À propos</a></li> -->
            
        </ul>
        
    </nav>
    <div class="search-container">
        <input type="text" placeholder="Rechercher..." id="searchbar" onkeyup="search(event)">
        <div class="list-autocomp"></div>
    </div>

</header>

<script type="text/javascript">
    window.addEventListener('scroll', () => {
        console.log("scrolling duuuude")
        let header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);

        //pour le parallax
        const parallax = document.querySelector('.parallax-bg');
        let scrollPosition = window.pageYOffset;

        parallax.style.transform = 'translateY(' + scrollPosition * .5 + 'px)';
    })
</script>
<script src="../../static/js/search.js"></script>
{{ end }}