{{ define "body" }}

<link rel="stylesheet" type="text/css" href="../static/css/locations.css">
<script src="../static/js/location.js"></script>

<script>
  // Pour le header
  let header = document.querySelector("header");
  header.style.position = 'sticky';
  header.style.backgroundColor = 'rgba(0, 0, 0, 0.589)';


</script>
    <!--The div element for the map -->
    <div id="mapcontain">
      <div id="map"></div>
    </div>
    

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
    
    
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo0DNoD4Ho7s0qbZG7Zc9LJxPK1CzGSB8&callback=initMap&libraries=&v=weekly"
      async
    ></script>


{{ end }}